APP_ENV=production
APP_DEBUG=false
APP_URL=https://sbms.lasaveur.store

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=2675681_sbms
DB_USER=2675681_sbms
DB_PASS=change_me

JWT_SIGNING_KEY=SmartBuilding_SuperSecret_Key_Min32Chars_2026!
JWT_TTL_HOURS=8

STORAGE_PATH=../storage/documents
